<section class="contacts">
  <div class="container">
    <h2 class="is-hidden">Contacts</h2>
    <ul class="contacts__list">
  
      <li class="contacts__item">
        <p class="contacts__place-name contacts__place-name--beige">cafe</p>
        <p class="contacts__city">Chicago</p>
        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts__schedule">
          <li class="contacts__work">
            <div class="contacts__work-days">Monday - Friday</div>
            <div class="contacts__work-time">06:00 AM - 10:00 PM</div>
          </li>
          <li class="contacts__work">
            <div class="contacts__work-days">Saturday - Sunday</div>
            <div class="contacts__work-time">08:00 AM - 16:00 PM</div>
          </li>
        </ul>
        <ul class="contacts__contact">
          <li>
            <a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a></li>
        </ul>
      </li>
  
      <li class="contacts__item">
        <p class="contacts__place-name contacts__place-name--green">foodtruck</p>
        <p class="contacts__city">Los Angeles</p>
        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts__schedule">
          <li class="contacts__work">
            <div class="contacts__work-days">Monday - Friday</div>
            <div class="contacts__work-time">06:00 AM - 10:00 PM</div>
          </li>
          <li class="contacts__work">
            <div class="contacts__work-days">Saturday - Sunday</div>
            <div class="contacts__work-time">08:00 AM - 16:00 PM</div>
          </li>
        </ul>
        <ul class="contacts__contact">
          <li>
            <a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a></li>
        </ul>
      </li>
  
      <li class="contacts__item">
        <p class="contacts__place-name contacts__place-name--beige">cafe</p>
        <p class="contacts__city">New York</p>
        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts__schedule">
          <li class="contacts__work">
            <div class="contacts__work-days">Monday - Friday</div>
            <div class="contacts__work-time">06:00 AM - 10:00 PM</div>
          </li>
          <li class="contacts__work">
            <div class="contacts__work-days">Saturday - Sunday</div>
            <div class="contacts__work-time">08:00 AM - 16:00 PM</div>
          </li>
        </ul>
        <ul class="contacts__contact">
          <li>
            <a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a></li>
        </ul>
      </li>
  
    </ul>
  <div class="contacts__wrapper-btn">
    <button type="button" class="contacts_btn contacts__btn--locations">
      Our Locations
    </button>
  
    <button type="button" class="contacts_btn contacts__btn--franchise">
      Franchise
    </button>
  </div>
  
  
  </div>
  </section>

