<section class="customer-reviews">
  <div class="container">
    <div class="customer__wrapper">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide customer-item">
            <div class="card">
              <div class="image__thumb">
                <img src="./images/customers/face1.jpg" alt="customer" />
              </div>
              <div class="customer__review">
                <div class="text__thumb">
                  <p class="customer__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                    risus.
                  </p>
                </div>
              </div>
              <div class="after__text">
                <p class="customer__name">Emily, Los Angeles</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <div class="image__thumb">
                <img src="./images/customers/face2.jpg" alt="customer" />
              </div>
              <div class="customer__review">
                <div class="text__thumb">
                  <p class="customer__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                    risus.
                  </p>
                </div>
              </div>
              <div class="after__text">
                <p class="customer__name">Natally, Chicago</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <div class="image__thumb">
                <img src="./images/customers/face3.jpg" alt="customer" />
              </div>
              <div class="customer__review">
                <div class="text__thumb">
                  <p class="customer__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                    risus.
                  </p>
                </div>
              </div>
              <div class="after__text">
                <p class="customer__name">Jully, New York</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
