<footer class="footer">
  <div class="container footer__container">
    <div class="footer__paragraph-container">
      <p class="footer__title-one">homemade ice cream <br />made</p>

      <p class="footer__title-two">with <br />passion</p>
    </div>

    <div class="footer__social-icons-container">
      <div class="footer__social-icons-box">
        <ul class="footer__social-icons-list list">
          <li class="footer__social-icons-item">
            <a
              class="footer__social-icons-link"
              href="https://github.com/"
              target="_blank"
              rel="noopener, nofollow, noreferrer"
            >
              <svg class="footer__social-icon">
                <use href="./images/icons/sprite1.svg#icon-github"></use>
              </svg>
            </a>
          </li>

          <li class="footer__icons-item">
            <a
              class="footer__social-icons-link"
              href="https://web.telegram.org/k/"
              target="_blank"
              rel="noopener, nofollow, noreferrer"
            >
              <svg class="footer__social-icon">
                <use href="./images/icons/sprite1.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>

          <li class="footer__icons-item">
            <a
              class="footer__social-icons-link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener, nofollow, noreferrer"
            >
              <svg class="footer__social-icon">
                <use href="./images/icons/sprite1.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__contact-container">
        <p class="footer__contact-paragraph">
          Feel free to contact
          <a class="footer__contact-link" href="tel:+610383766284"> +61 (0) 383 766 284</a>
        </p>
      </div>
    </div>

    <div class="footer__copyright-container">
      <ul class="footer__copyright-list list">
        <li class="footer__copyright-item">
          <p class="footer__copyright-paragraph">&#169; 2019 - IceCream.</p>
        </li>
        <li class="footer__copyright-item">
          <p class="footer__copyright-paragraph">All Rights Reserved.</p>
        </li>
      </ul>
    </div>
  </div>
</footer>
