<section class="gallery">
  <div class="container">
    <h2 class="is-hidden">Gallery</h2>
    <div class="gallery__thumb">
      <div class="gallery__column">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <img
                srcset="
                  ./images/mobile/gallery/gallery01-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery01-@2x.jpg 2x
                "
                src="./images/mobile/gallery/gallery01-@1x.jpg"
                alt=""
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <img
                srcset="
                  ./images/mobile/gallery/gallery02-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery02-@2x.jpg 2x
                "
                src="./images/mobile/gallery/gallery02-@1x.jpg"
                alt=""
              />
            </picture>
          </div>
        </div>
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <img
                srcset="
                  ./images/mobile/gallery/gallery03-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery03-@2x.jpg 2x
                "
                src="./images/mobile/gallery/gallery03-@1x.jpg"
                alt=""
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column is-big">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <img
                srcset="
                  ./images/mobile/gallery/gallery04-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery04-@2x.jpg 2x
                "
                src="./images/mobile/gallery/gallery04-@1x.jpg"
                alt=""
              />
            </picture>
          </div>
        </div>
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <img
                srcset="
                  ./images/mobile/gallery/gallery05-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery05-@2x.jpg 2x
                "
                src="./images/mobile/gallery/gallery05-@1x.jpg"
                alt=""
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <img
                srcset="
                  ./images/mobile/gallery/gallery06-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery06-@2x.jpg 2x
                "
                src="./images/mobile/gallery/gallery06-@1x.jpg"
                alt=""
              />
            </picture>
          </div>
        </div>
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <img
                srcset="
                  ./images/mobile/gallery/gallery07-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery07-@2x.jpg 2x
                "
                src="./images/mobile/gallery/gallery07-@1x.jpg"
                alt=""
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <img
                srcset="
                  ./images/mobile/gallery/gallery08-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery08-@2x.jpg 2x
                "
                src="./images/mobile/gallery/gallery08-@1x.jpg"
                alt=""
              />
            </picture>
          </div>
        </div>
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <img
                srcset="
                  ./images/mobile/gallery/gallery09-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery09-@2x.jpg 2x
                "
                src="./images/mobile/gallery/gallery09-@1x.jpg"
                alt=""
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <img
                srcset="
                  ./images/mobile/gallery/gallery10-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery10-@2x.jpg 2x
                "
                src="./images/mobile/gallery/gallery10-@1x.jpg"
                alt=""
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
