<header>
  <p>Здесь будет header</p>
  <img src="./images/logo.png" alt="" />

  <!-- <div class="thumb">
    <svg class="icon menu">
      <use href="./images/icons/icons.svg#burger"></use>
    </svg>
  </div> -->

  <!-- <div class="thumb">
    <svg class="icon menu">
      <use href="./images/icons/icons.svg#menu-close"></use>
    </svg>
  </div>

  <div class="thumb">
    <svg class="icon">
      <use href="./images/icons/icons.svg#dots"></use>
    </svg>
  </div>

  <div class="thumb">
    <svg class="icon">
      <use href="./images/icons/icons.svg#facebook"></use>
    </svg>
  </div>

  <div class="thumb">
    <svg class="icon">
      <use href="./images/icons/icons.svg#github"></use>
    </svg>
  </div>

  <div class="thumb">
    <svg class="icon">
      <use href="./images/icons/icons.svg#telegram"></use>
    </svg>
  </div>

  <div class="thumb">
    <svg class="icon quotes">
      <use href="./images/icons/icons.svg#quotes"></use>
    </svg>
  </div> -->
</header>
