<section class="hero">
  <div class="container">
    <div class="hero__heading">
      <h1 class="hero__title">ice cream made with <span class="hero__accent">passion</span></h1>
      <div class="hero-tittle__btn">
        <button class="button button__primary" type="button">Products</button>
        <button class="button button__secondary" type="button">How it’s made?</button>
      </div>
      <div class="milk__thumb">
        <div class="milk__picture">
          <picture>
            <source
              srcset="./images/tablet/hero/milk-@1x.png 1x, ./images/tablet/hero/milk-@2x.png 2x"
              media="(max-width: 1279px)"
            />

            <img
              srcset="./images/desktop/hero/milk-@1x.png 1x, ./images/desktop/hero/milk-@2x.png 2x"
              src="./images/desktop/hero/milk-@1x.png"
              alt="Ice cream"
            />
          </picture>
        </div>
        <div class="milk__text-thumb">
          <p class="milk__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <div class="milk-svg__thumb">
            <svg class="milk__svg">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="girl__thumb">
        <picture>
          <source
            srcset="./images/tablet/hero/girl-@1x.png 1x, ./images/tablet/hero/girl-@2x.png 2x"
            media="(max-width: 1279px)"
          />

          <img
            srcset="./images/desktop/hero/girl-@1x.png 1x, ./images/desktop/hero/milk-@2x.png 2x"
            src="./images/desktop/hero/girl-@1x.png"
            alt="Girl with ice cream"
          />
        </picture>
      </div>
    </div>
    <div class="hero-image__thumb">
      <div class="hero__circle"></div>

      <picture>
        <source
          srcset="
            ./images/mobile/hero/icecream-@1x.png 1x,
            ./images/mobile/hero/icecream-@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/tablet/hero/icecream-@1x.png 1x,
            ./images/tablet/hero/icecream-@2x.png 2x
          "
          media="(max-width: 1279px)"
        />

        <img
          class="hero__image"
          srcset="
            ./images/desktop/hero/icecream-@1x.png 1x,
            ./images/desktop/hero/icecream-@2x.png 2x
          "
          src="./images/desktop/hero/icecream-@1x.png"
          alt="Ice cream"
        />
      </picture>
    </div>
  </div>
</section>
