<section class="products container">
  <h3 class="products__title1">100% natural</h3>
    <h2 class="products__title2">products</h2>
  <div class="">
<ul class="list ">
  <li class="products__list-icecreame">
    <div class="products__list__about">
    <picture class="products__list__img">
      <img srcset="./images/mobile/products/mobile-icecream1x.png 1x,
      ./images/mobile/products/mobile-icecream1x.png 2x"
      src="./images/mobile/products/mobile-icecream1x.png"
      alt=""></div>
      <h3 class="products__list-icecreame__title-name">
        ice cream
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
        aliqua facilisis.
      </p>
    </picture>
  </li>
  <li class="products__list-icecoffe">
    <div class="products__list-icecoffe__about">
      <picture class="products__list-icecoffe__img">
        <img srcset="
        ./images/mobile/products/mobile-icecofee1x.png 1x,
        ./images/mobile/products/mobile-icecofee1x.png 2x" src="./images/mobile/products/mobile-icecofee1x.png" alt=""></div>
        <h3 class="products__list-icecoffe__title-name">
          ice coffee
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
          aliqua facilisis.
        </p>
      </picture>
      </li>
  <li class="products__list-milkshakes">
    <div class="products__list-milkshakes__about">
      <picture class="products__list-milkshakes__img">
        <img srcset="./images/mobile/products/mobile-milkshakes1x.png 1x,
            ./images/mobile/products/mobile-milkshakes1x.png 2x" src="./images/mobile/products/mobile-milkshakes1x.png" alt=""></div>
        <h3 class="products__list-milkshakes__title-name">
          milkshakes
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
          aliqua facilisis.
        </p>
      </picture>
      </li>
</ul>
  </div>
</section>
