<section class="products container">
  <h3 class="products__title1">100% natural</h3>
    <h2 class="products__title2">products</h2>
<ul class="list products__about">
  <li class="products__list-icecream">
    <div class="products__list__about">
    <picture>
      <source srcset="./images/mobile/products/mobile-icecream1x.png 1x, ./images/mobile/products/mobile-icecream2x.png 2x" media="(max-width: 767px)">
      <source srcset="./images/mobile/products/mobile-icecream1x.png 1x, ./images/mobile/products/mobile-icecream2x.png 2x" media="(max-width: 1279px)">
      <img class="products__list__img" srcset="./images/mobile/products/mobile-icecream1x.png 1x,
      ./images/mobile/products/mobile-icecream1x.png 2x"
      src="./images/mobile/products/mobile-icecream1x.png"
      alt="ice cream"></div>
      <h3 class="products__list-icecream__title-name">
        ice cream
      </h3>
      <p class="products__list-icecream__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
        aliqua facilisis.
      </p>
    </picture>
  </li>
  <li class="products__list-icecoffe">
    <div class="products__list__about">
      <picture>
        <source srcset="./images/mobile/products/mobile-icecofee1x.png 1x, ./images/mobile/products/mobile-icecofee2x.png 2x"
        media="(max-width: 767px)">
      <source srcset="./images/mobile/products/mobile-icecofee1x.png 1x, ./images/mobile/products/mobile-icecofee2x.png 2x"
        media="(max-width: 1279px)">
        <img class="products__list__img" srcset="
        ./images/mobile/products/mobile-icecofee1x.png 1x,
        ./images/mobile/products/mobile-icecofee1x.png 2x" src="./images/mobile/products/mobile-icecofee1x.png" alt="ice coffee"></div>
        <h3 class="products__list-icecoffe__title-name">
          ice coffee
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
          aliqua facilisis.
        </p>
      </picture>
      </li>
  <li class="products__list-milkshakes">
    <div class="products__list__about">
      <picture>
        <source srcset="./images/mobile/products/mobile-milkshakes1x.png 1x, ./images/mobile/products/mobile-milkshakes2x.png 2x"
        media="(max-width: 767px)">
      <source srcset="./images/mobile/products/mobile-milkshakes1x.png 1x, ./images/mobile/products/mobile-milkshakes2x.png 2x"
        media="(max-width: 1279px)">
        <img class="products__list__img" srcset="./images/mobile/products/mobile-milkshakes1x.png 1x,
            ./images/mobile/products/mobile-milkshakes1x.png 2x" src="./images/mobile/products/mobile-milkshakes1x.png" alt="milkshakes"></div>
        <h3 class="products__list-milkshakes__title-name">
          milkshakes
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
          aliqua facilisis.
        </p>
      </picture>
      </li>
</ul>
  </div>
</section>
