// Стили для about

// var
$about-background-color: #fff5f6;
// var

.about {
  padding-bottom: 39px;

  background-color: $about-background-color;
}

.about__title-label {
  margin-bottom: 15px;

  color: $secondary-accent-color;

  font-family: $secondary-font;
  font-weight: normal;
  font-size: 18px;
  line-height: 0.85;
  text-align: center;
  text-transform: uppercase;
}

.about__title {
  margin-bottom: 26px;
  color: $main-accent-color;

  font-family: $secondary-font;
  font-weight: normal;
  font-size: 34px;
  line-height: 0.87;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.about__text {
  margin-bottom: 47px;

  color: $main-dark-color;

  font-family: $primary-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
}

.about__description {
  margin-bottom: 21px;

  color: $secondary-dark-color;

  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
}

.about__button {
  @extend %button;
  padding-left: 37px;
  padding-right: 37px;

  color: $main-accent-color;
  background-color: #fff;

  font-weight: bold;
  font-size: 14px;
  line-height: 0.8;
  text-align: center;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
