// Стили для contacts
.contacts {
  padding-top: 43px;
  padding-bottom: 57px;
  background-color: $gallery-background-color;
  height: 100%;

  background-image: linear-gradient(to bottom, $main-background-color 127px, $gallery-background-color 127px, $gallery-background-color 100%);
  object-fit: fill;
  background-position: 127px;

  @media screen and (min-width:768px) {
  padding-top: 60px;
  padding-bottom: 79px;

  background-image: linear-gradient(to bottom, $main-background-color 138px, $gallery-background-color 138px, $gallery-background-color 100%);
  background-position: 138px;  
  }
 
  @media screen and (min-width:1280px) {
  padding-top: 66px;
  padding-bottom: 83px;

  background-image: url(../images/contacts_drops2.png), linear-gradient(to bottom, $main-background-color 168px, $gallery-background-color 168px, $gallery-background-color 100%);
  object-fit: none, fill;
  background-repeat: no-repeat, no-repeat;
  background-size: auto 382px;
  background-position: 50% 168px, 0 0;
  }
}

.contacts__list {

  @media screen and (max-width: 767px) {
    padding-left: 30px;
    padding-right: 30px;;
  }

  @media screen and (min-width:768px) {
   @include list(20px, 0, none)
  }

  @media screen and (min-width:1280px) {
    @include list(30px, 0, none)
  }
}



.contacts__item {
  padding: 43px 20px;
  background-color: $main-background-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (min-width: 768px) {
    @include listItem(20px, 0, 3, 20px); 
    padding: 50px 32px; 
  }

  @media screen and (min-width: 1280px) {
    @include listItem(30px, 0, 3, 30px);
    padding: 50px 43px;
  }
}

.contacts__item:not(:last-child) {

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.contacts__place-name {
  display: inline-block;
  padding: 0 25px;
  
  border-radius: 6px;
  @include font(inherit, 12px, 500, 1.86, 0.04em, $main-light-color);
  text-transform: uppercase;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding: 0 15px;   
    @include font(inherit, 16px, 500, 1.86, 0.04em, $main-light-color);
  height: 28px;
  }
}

.contacts__place-name--beige {
  background-color: $coffee-card-background-color;
}

.contacts__place-name--green {
  background-color: $shake-card-background-color;
}

.contacts__city {
  margin-top: 25px;
  @include font(inherit, 12px, 500, 1.86, 0.04em, $main-dark-color);

  @media screen and (min-width: 768px) {
    margin-top: 30px;
    @include font(inherit, 14px, 500, 1.86, 0.04em, $main-dark-color);
  }

  @media screen and (min-width: 1280px) {
    @include font(inherit, 16px, 500, 1.86, 0.04em, $main-dark-color);
  }
}

.contacts__description {
  margin-top: 10px;
  @include font(inherit, 12px, 500, 1.5, auto, $secondary-dark-color);

  @media screen and (min-width: 768px) {
    margin-top: 14px;
    @include font(inherit, 14px, 500, 1.66, auto, $secondary-dark-color);
  }

  @media screen and (min-width: 1280px) {
    margin-top: 10px;
    @include font(inherit, 16px, 500, 1.83, 0.04em, $secondary-dark-color);
  }
}

.contacts__schedule {
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 25px;

  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;

  @media screen and (min-width: 768px) {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;   
  }

  @media screen and (min-width: 1280px) {
    margin-top: 32px;
    padding-top: 32px;
    padding-bottom: 32px;   
  }
}

.contacts__work:not(:last-child) {
  margin-bottom: 10px;

  @media screen and (in-width: 768px) {
    margin-bottom: 16px;
  }

  @media screen and (in-width: 1280px) {
    margin-bottom: 15px;
  }
}

.contacts__work-days {
  @include font(inherit, 12px, 500, 1.86, 0.04em, $main-dark-color);

  @media screen and (min-width: 768px) {
    @include font(inherit, 14px, 500, 1.86, 0.04em, $main-dark-color);
  }

  @media screen and (min-width: 1280px) {
    @include font(inherit, 16px, 500, 1.86, 0.04em, $main-dark-color);
  }  
}

.contacts__work-time {
  @include font(inherit, 12px, 500, 1.86, 0.04em, $secondary-accent-color);

  @media screen and (min-width: 768px) {
    @include font(inherit, 14px, 500, 1.86, 0.04em, $secondary-accent-color);
  }

  @media screen and (min-width: 1280px) {
    @include font(inherit, 16px, 500, 1.86, 0.04em, $secondary-accent-color);
  }    
}

.contacts__contact {
  margin-top: 25px;

  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 32px;
  }   
}

.contacts__link {

  @include font(inherit, 12px, 500, 1.5, 0.04em, $secondary-dark-color);

  @media screen and (min-width: 768px) {
    @include font(inherit, 14px, 500, 1.83, 0.04em, $secondary-dark-color);
  }

  @media screen and (min-width: 1280px) {
    @include font(inherit, 16px, 500, 1.83, 0.04em, $secondary-dark-color);
  }      
}

// .contacts__wrapper-btn {
// // display: flex;
// margin-top: 54px;
// margin-right: auto;
// margin-left: auto;
// // flex-direction: column;
// }

// .contacts__locations-btn {

//   @extend %button;
//   background-color: $main-accent-color;
//   padding-left: 17px;
//   padding-right: 17px;

//   color: $main-light-color;

// }