.gallery {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient($gallery-background-color 50%, $main-background-color 50%);
}

.gallery__thumb {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -1px;
}

.gallery__column {
  flex-basis: calc((100% - 7 * 2px) / 7);

  margin-left: 1px;
  margin-right: 1px;

  &.is-big {
    flex-basis: calc((100% / 6 - 10px) * 2);
  }
}

.gallery__row {
  display: flex;
  margin-top: 1px;
  margin-bottom: 1px;
}

.picture__wrapper {
  border-radius: 10px;
  overflow: hidden;
}
